figure {
  background: #E8E8E8;
  img {
    margin: 0 auto ;
    display: block;
  }
    figcaption {
      text-align: center;
      background: #0163A7;
      color: #fff;
      padding: 12px;
      font-size: 0.9em;
    }
}