a {
  -webkit-transition: all .5s;
  /* Safari */
  transition: all .5s;
}
ul.links {
  margin-top: 20px;
  a {
    background: #337AB7;
    padding: 0.5em;
    display: inline-block;
    color: #fff;
    font-size: 0.888889em;
    border-radius: 3px;
    text-decoration: none;
    &:hover {
      background: #255884;
    }
  }
  li {
    position: relative;
    &.node-readmore {
      a {
        padding-left: 22px;
        &:before {
          content: "\f054 \f054";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          font-size: 0.5em;
          position: absolute;
          top: 12px;
          left: 12px;
          /*--adjust as necessary--*/
          color: #efeefe;
          padding-right: 0.2em;
          padding-left: 0.2em;
          margin-right: 0.5em;
        }
      }
    }
    &.comment-add {
      a {
        padding-left: 30px;
        &:before {
          content: "\f075";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          position: absolute;
          top: 6px;
          left: 12px;
          /*--adjust as necessary--*/
          color: #efeefe;
          padding-right: 0.2em;
          padding-left: 0.2em;
          margin-right: 0.5em;
        }
      }
    }
    &.comment-forbidden {
      font-size: 0.8888888em;
      a {
        background: transparent;
        color: #337AB7;
        &:hover {
          background: transparent;
          color: #255884;
        }
      }
    }
  }
}
